{% extends "base.html" %}
{% load static %}

{% block title %}{{ titre }} une Catégorie{% endblock title %}
{% block page_header %}{{ titre }} une Catégorie{% endblock page_header %}

{% block content %}
<div class="page-heading">
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Confirmation de suppression</h4>
            </div>
            <div class="card-body">
                <p>Êtes-vous sûr de vouloir supprimer la catégorie "{{ object.titre }}" ?</p>
                <p class="text-danger">Cette action est irréversible et supprimera également tous les stagiaires liés à cette catégorie.</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                    <a href="{% url 'categories' %}" class="btn btn-light-secondary">Annuler</a>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock content %}