{% extends 'base.html' %}
{% load static %}

{% block title %}Supprimer Séance de Progression{% endblock title %}

{% block page_header %}Supprimer Séance de Progression{% endblock page_header %}

{% block content %}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Confirmer la suppression de la séance</h4>
        </div>
        <div class="card-body">
            <p>Êtes-vous sûr de vouloir supprimer la séance du <strong>{{ object.session_date }}</strong> pour le module <strong>{{ object.module_progress.module.titre }}</strong>, animée par <strong>{{ object.module_progress.formateur.get_full_name }}</strong> dans l'action <strong>{{ object.module_progress.action.description }}</strong> ?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                <a href="{% url 'module_progress_detail' object.module_progress.pk %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
</section>
{% endblock content %}