{% extends "base.html" %}
{% load static %}

{% block title %}{{ titre }} un Type d'Action{% endblock title %}
{% block page_header %}{{ titre }} un Type d'Action{% endblock page_header %}

{% block content %}
<div class="page-heading">
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Confirmation de suppression</h4>
            </div>
            <div class="card-body">
                <p>Êtes-vous sûr de vouloir supprimer le type d'action "{{ object.libelle }}" (Code: {{ object.code }}) ?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                    <a href="{% url 'typeactions' %}" class="btn btn-light-secondary">Annuler</a>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock content %}